@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

.form-group {
    margin-top: 20px;
    color: white;
    
}

.form-label {
    display: block;
    align-items: center;
    font-size: 100%;
    font-family: 'Domine';

}

.form-field {
    display: flex;
    text-align: center;
    margin-top: 4px;
    padding: 4px 12px 4px 12px;
    background-color: black;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    border-bottom: 2px solid #44BBA4;
    color: white;
    font-size: 100%;
    font-family: 'Domine';
}

.form-field:focus {
    border: 2px solid #44BBA4;
}
