@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

.mc{
  display: flex;
  flex-direction: column;
  margin: 40px 10px 10px 10px;
  width: 300px;
  height: 350px;
  transition: 0.2s;
  background-color: aliceblue;
  border-radius: 40px;
}

.mc:hover{
  transform: translateY(-0.2rem);
  box-shadow: 0.5rem 0.75rem 0.5rem #53a7ac;
}

.mc-image{
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 40px 40px 0px 0px;
  border-bottom: 1px solid black;
}

.mc-content {
  margin: 0.5rem;
}

.mc-divider {
  height: 2px;
}

.mc-2, 
.mc-3 {
  margin: 1rem 4px 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courgette', cursive;
  font-size: 90%;
}

.mc-3 {
  margin-top: 10px;
}

.mc-btn {
    margin-top: 12px;
    margin-left: 35%;
    color: rgb(255, 255, 255);
    padding: 4px 20px 4px 20px;
    font-size: 100%;
    font-family: 'Courgette', cursive;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    transition: 0.2s;
    border: 2px solid gold;
}

.mc-btn:hover {
  border: 2px solid white;
  background-color: rgb(209, 184, 42);
  color: black;
  transform: translateY(-0.2rem);
}

.mc-title {
  margin: 1rem 4px 4px 4px;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 120%;
}