.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 450px;
    border-radius: 20px;
    border: 2px solid #44BBA4;
    margin-top: 4%;
    margin-left: 38%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.register-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 12px 4px 12px;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #44BBA4;
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: 'Domine';
    font-weight: bold;
}

.register-logo {
    width: 200px;
    height: 100px;
}