.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 450px;
    border-radius: 20px;
    border: 2px solid #44BBA4;
    margin: 4% auto;

}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.register-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 2px 12px 2px 12px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #44BBA4;
    color: black;
    font-size: 110%;
    font-family: 'Domine';
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.register-btn:hover {
    transform: scale(1.1);
    border: 2px solid #FF1493;
    color: black;
}

.register-logo {
    width: 200px;
    height: 100px;
    margin-top: 5px;
    border-radius: 40px;
    border: none;
}

@media screen and (max-width: 700px) {
    .register-container {
            width: 350px;
            border-radius: 20px;
            margin: 4% auto;
    
        }
}