.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 450px;
    border-radius: 20px;
    border: 2px solid #44BBA4;
    margin: 4% auto;

}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.register-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 12px 4px 12px;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #44BBA4;
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: 'Domine';
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.register-btn:hover {
    transform: scale(1.1);
    background-color: rgb(5, 109, 112);
    color: black;
}

.register-logo {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 700px) {
    .register-container {
            width: 350px;
            border-radius: 20px;
            margin: 4% auto;
    
        }
}