@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap');

.slogan-container {
    opacity: 0;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 33%;
    border: 2px solid transparent;
    padding: 0px 26px 10px 26px;
    border-radius: 40px;
    border-image: linear-gradient(145deg, #FF1493, #ffffff);
    border-image-slice: 1;
    text-align: center;
    width: 550px;
    transform: translateY(100px) translateX(-150px);;
    transition: opacity 3s ease-in-out, transform 1s ease-in-out;
}

.annimate-slogan {
    opacity: 1;
    transform: translateY(0) translateX(0);
}

.slogan-text {
    font-size: 240%;
    background: linear-gradient(145deg, #a9d3f1, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    margin-top: 5%;
    padding: 0;
}