@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

.th-page{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
}

.th-left {
    position: absolute;
}

.th-dd {
    margin-top: 38%;
}

.th-right {
    position: absolute;
    margin-left: 24%;
}

.theater-cards-list {
    display: flex;
    flex-wrap: wrap;
}

.th-search {
    display: flex;
    flex-direction: row;
    margin-left: 45%;
}

.th-search-input {
    margin-top: 12px;
    margin-left: 75px;
    padding: 4px 12px 4px 12px;
    background-color: rgba(0, 0, 0, 0.312);
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 120%;
    font-family: 'Domine';
    text-align: center;
}

.th-search-input:focus {
    border-radius: 20px;
    outline: none;
    border: 2px solid gold;
}