@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

.theater-page {
    margin-left: 40px;
    margin-top: 2%;
}

.theater-topic {
    font-size: 260%;
    font-weight: 200;
    margin-top: 4%;
    margin-bottom: 3%;
    color: azure;
    font-family: 'Domine', serif;
}


.theater-picture {
    width:50%;
    margin-left: 8%;
}

.theater-review {
    font-size: 120%;
    font-family: 'Roboto Slab', serif;
    margin: 40px 100px 40px 20px;
    font-weight: 400;
    color: aliceblue;
}

.theater-details {
    margin-bottom: 4%;
    color: azure;
    font-family: 'Domine', serif;
}

.theater-details-content {
    font-size: 140%;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 6%;
}

.theater-details-content-each {
    margin-top: 16px;
    font-family: 'Shadows Into Light', serif;
}

.theater-btn {
    color: rgb(255, 255, 255);
    padding: 8px 16px 8px 16px;
    font-size: 150%;
    font-family: 'Courgette', cursive;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid gold;
}

.theater-location-btn {
    margin-top: 8%;
    float: right;
    margin-right: 4%;
}

.theater-details-btn {
    margin-top: 8%;
    float: left;
    margin-left: 4%;
}

.theater-review-btn {
    margin-top: 2%;
}

.theater-map-btn {
    margin-top: 8%;
    float: right;
    margin-right: 4%;
}

.theater-btn:hover {
    border: 2px solid white;
}

.theater-movie-cards-list {
    margin-left: 6%;
    display: flex;
    flex-wrap: wrap;
}


